*::after,
*::before,
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: unset;
}

button,
span,
img {
  display: inline-block;
}

p {
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.logo {
  color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 900;
  line-height: 40.271px;
}

.header-navlinks-parent {
  display: flex;
  gap: 1em;
}

.header-navlinks {
  color: #4D4D4D;
  text-align: right;
  font-family: Inter;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 22.923px;
}

.outlet--container {
  min-height: 77.5vh;
}

.footer-text {
  color: #AAA;
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 22.923px;
  background: #252525;
  padding: 1.5em;
}


.about-page, .home-page {
  width: 1000px;
  margin: 2em auto;
}

.login-page {
  width: 800px;
  display: flex;
  min-height: 77.5vh;
  margin: 0 auto;
}

.login-page-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.login-page form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 5px;
}

.login-page label {
  color: #4D4D4D;
  font-family: Inter;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 22.923px;
}

.login-form-element {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.login-form-element>input {
  padding: 0.5em;
  font-size: 1.1rem;
  border: 1px solid #4D4D4D;
  outline: unset;
  border-radius: 3px;
}

.login-form-element>input:focus {
  outline: unset;

}

.login-button {
  padding: 0.5em;
  font-size: 1.2rem;
  font-weight: 700;
}

.equipment-page {
  width: 1000px;
  margin: 2em auto;
}

.equipment-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  margin: 2em 0;
}

.equipment-item {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.equipment-item img {
  height: 250px;
  width: 250px;
  border-radius: 5px;
}

.equipment-item h3 {
  color: #161616;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 31.662px;
  /* 158.308% */
}

.vendor-layout-nav {
  margin: 1em 0;
  display: flex;
  gap: 2em;
}

.vendor-layout-nav button {
  color: #4D4D4D;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.919px;
  border-radius: 5px;
  background: #FFEAD0;
  border: none;
  width: 10%;
  padding: 0.5em 0;
  /* 149.496% */
}

.equipment-details-page {
  width: 1000px;
  margin: 2em auto;
}

.equipment-parent {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin:  2em 0;
}

.equipment-parent > img {
  height: 250px;
  width: 250px;
  border-radius: 5px;
}

.equipment-parent h3 {
  color: #161616;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 31.662px;
}

.vendor-layout {
  width: 1000px;
  margin: 2em auto;
}