*::after,
*::before,
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: unset;
}

button,
span,
img {
  display: inline-block;
}

p {
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.logo {
  color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 900;
  line-height: 40.271px;
}

.header-navlinks-parent {
  display: flex;
  gap: 1em;
}

.header-navlinks {
  color: #4D4D4D;
  text-align: right;
  font-family: Inter;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 22.923px;
}

.outlet--container {
  min-height: 77.5vh;
}

.footer-text {
  color: #AAA;
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 22.923px;
  background: #252525;
  padding: 1.5em;
}

